/SMC-Medico/build/
/SMC-Medico/dist/
/SMC-Medico/nbproject/private/
/SMC-Sensores/build/
/SMC-Sensores/nbproject/private/
/SMC-Servidor/build/
/SMC-Servidor/nbproject/private/
/SMC-Servidor-Borda/build/
/SMC-Servidor-Borda/nbproject/private/